spring:
  application:
    name: vem-pro-culto-api

  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/banco_local
    username: admin
    password: 123456

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

logging:
  level:
    org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver: ERROR
